[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "*"
urllib3 = "*"
pymongo = "*"
dnspython = "*"
pandas = "*"
numpy = ">=1.22"
pydantic = "*"

[requires]
python_version = "3"
